<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Diner Online Ordering App</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column">
    <header class="display-flex justify-space-between align-center">
      <h1>
        Diner
      </h1>
      <nav>
        <a href="/">Menu</a>
        <a href="/neworder">New Order</a>
        <a href="/orderhistory">Order History</a>

        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    <main class="container p-3 container-fluid mt-5">

      {{{ body }}}
    </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>