<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      STARTERS:
    </h2>
    {{#each menuItems as |menuItem| }}
    {{#ifEquals category_id 1}}
    <h3>
      {{name}}{{#if isSpicy}}🌶️{{/if}}
    </h3>
    <h4>{{description}}</h4>
    {{/ifEquals}}
    {{/each}}
  </div>
</div>