html {
  background: url("/image/menubackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 7em;
  width: 100%;
  height: 100%;
}
  
body {
  color: rgba(245, 245, 245, 0.808);
}

header {
  background-color: rgb(42, 19, 19);
  padding: 2em;
  position: sticky;
  top: 0;
  z-index: 999;
  flex-direction: column;
  justify-content: center!important;
  align-items: center!important;
  width:100%;
}

header h1{
  margin: 0 auto 1em;
}

nav a {
  color: whitesmoke;
  font-size: larger;
  margin-right: 1em;
}

.container {
  margin-left: 2em;
  margin-right: 18em;
}

h2 {
  background-color: black;
  color: rgb(227, 225, 225);
  border: 3px;
  border-radius: 20%;
  padding: 5px;
  display: table;
}

p {
  font-size: medium;
}

input {
  width: 18px;
  height: 18px;
  background-color: rgb(211, 211, 211);
  margin-left: 1em;
}

li{
  font-size: x-large;
  margin-top: 1em;
}

li a{
  color:whitesmoke;
  text-decoration: underline;
}

li a:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
  font-size: x-large;
  margin-top: 1em;
}

#login{
  float: left;
}
#signup{
  float: right;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

img {
  position: absolute;
  height:auto;
  width: 80%;
  object-fit: contain;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

@media screen and (max-width: 576px) {
  main {
    background: none;
  }
  img {
  display: none;
  }
}

@media screen and (max-width: 960px) {
  main{
    background-size:contain;
    margin-left: 1em;
  }
}

.glow-on-hover {
  font-size: large;
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  margin-top: 1em;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}