html{
  background: url("/image/menubackground.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 7em;
}

body{
  color:rgba(245, 245, 245, 0.808);
}
header {
  background-color: rgb(42, 19, 19);
  padding: 2em;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav a{
  color:whitesmoke;
  font-size: larger;
  margin-right: 1em;
}

h1{
  margin-left: 4em;
  justify-content: center;

}
.container{
  margin-right:18em;
}
h2{
  /* background-color: rgb(250, 207, 67, 0.5); */
  background-color: black;
  color:rgb(227, 225, 225);
  border: 3px;
  border-radius: 20%;
  padding: 5px;
  display: table;
}

p{
  font-size: medium;
}

input{
  width: 18px;
  height: 18px;
  background-color: lightgrey;
  margin-left: 1em;
}

li{
  font-size: x-large;
  margin-top: 1em;
}

li a{
  color:whitesmoke;
  text-decoration: underline;
}

li a:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
  font-size: x-large;
  margin-top: 1em;
}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.post-content {
  color: #056605;
  font-weight: bold;
  font-size: x-large;
  margin-left: -5px;
}

.post-list {
  border: 2px solid green;
  padding-top: 1em;
}

.post-list .col-md-8{
  text-align: left;
  margin-left:1em;
}

@media screen and (max-width: 576px) {
  header.display-flex{
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    width:100%;
  }
  header h1{
    margin: 0 auto 1em;
  }
  main {
    background: none;
  }
}

@media screen and (max-width: 960px) {
    header.display-flex{
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    width:100%;
  }
  header h1{
    margin: 0 auto 1em;
  }
  main{
    background-size:contain;
  }
}