html {
  background: url("/image/menubackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 7em;
  width: 100%;
  height: 100%;
}

body {
  color: rgba(245, 245, 245, 0.808);
}

header {
  background-color: rgb(42, 19, 19);
  padding: 2em;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav a {
  color: whitesmoke;
  font-size: larger;
  margin-right: 1em;
}

h1 {
  margin-left: 4em;
  justify-content: center;

}

.container {
  margin-right: 18em;
}

h2 {
  /* background-color: rgb(250, 207, 67, 0.5); */
  background-color: black;
  color: rgb(227, 225, 225);
  border: 3px;
  border-radius: 20%;
  padding: 5px;
  display: table;
}

p {
  font-size: medium;
}

input {
  width: 18px;
  height: 18px;
  background-color: lightgrey;
  margin-left: 1em;
}



.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.post-content {
  color: #056605;
  font-weight: bold;
  font-size: x-large;
  margin-left: -5px;
}

.post-list {
  border: 2px solid green;
  padding-top: 1em;
}

.post-list .col-md-8 {
  text-align: left;
  margin-left: 1em;
}

.login {
  float: right;

}

.signup {
  float: left;
}



.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}